/* 
@font-face {
  font-family: 'IranianSans';
  src: url('./assets/fonts/IranianSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}


body, html {
  font-family: 'IranianSans';
  margin: 0;
  padding: 0;
}

.root {
  font-family: 'IranianSans';
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  font-family: 'IranianSans';
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.4);
  border-radius: 10px;
}

scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.4);
  border-radius: 10px;
}

.MuiTypography-root {
  font-family: 'IranianSans', !important;
}

.MuiFormControlLabel-label {
  font-family: 'IranianSans' !important;
}

.muirtl-1buict1-MuiGrid-root{
  font-family: 'IranianSans' !important;
}

.MuiTypography-root {
  font-family: 'IranianSans' !important;
}

.MuiButtonBase-root{
  font-family: 'IranianSans' !important;
}
.MuiBox-root{
  font-family: 'IranianSans' !important;
}
.muirtl-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    font-family: 'IranianSans' !important;
}

.muirtl-1uvydh2 {
    font-family: 'IranianSans' !important;
}
.input {
   font-family: 'IranianSans' !important;
}
.MuiInputBase-input {
   font-family: 'IranianSans' !important;
}
.muirtl-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
   font-family: 'IranianSans' !important;
   
} */


/* RTL تنظیمات */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
  text-align: right;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* تغییرات برای RTL در Bootstrap */
.dropdown-menu {
  text-align: right;
}

.form-control {
  text-align: right;
}

.btn-group > .btn {
  float: right;
}

/* Swiper برای RTL */
.swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev {
  right: 10px;
  left: auto;
}

/* اضافه کردن فونت فارسی */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Vazir, system-ui, sans-serif;
}


.text-primary {
  --bs-text-opacity: 1;
  color: #0d6efd  !important ;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: #0d6efd  !important ;
}

